{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  {% trans "Gerar Gráfico" %}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'report/css/style.css' %}" />
  <script type="text/javascript" src="{% static 'js/d3.v3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mpld3.v0.2git.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'report/js/report.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $(window).load(function(){
        load_datetime_picker();
        draw_graph({{json|safe}});

        document.getElementById('id_current_measurement').addEventListener('click', selectMeasurementsToday);
        document.getElementById('past_day_button').addEventListener('click', showMeasurementsDays);
        document.getElementById('manual_date_button').addEventListener('click', showManualDate);
      });
    });
  </script>
{% endblock %}
s
{% block header %}
<div id="head" class="secondary"></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li class="active">{% trans "Gráficos" %}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">{% trans "Gráficos" %}</h1>
      </header>

      <div class="row">
        <div class="col-md-4 col-md-6 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="thin text-center">{% trans "Preencha os Campos Para Gerar o Gráfico" %}</h3>
              <hr>

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endif %}

              <form id="graph-form" method="post">
                {% csrf_token %}

                <div class="top-margin">
                  <label>{{ form.measurement_type.label }}</label>
                  {{form.measurement_type}}
                  <div class="alert-danger">
                    <strong>{{ form.measurement_type.errors }}</strong>
                  </div>
                </div>

                <div class="top-margin" >
                  <label>{{ form.transductor.label }}</label>
                  {{form.transductor}}
                  <div class="alert-danger">
                    <strong>{{ form.transductor.errors }}</strong>
                  </div>
                </div>

                <hr>

                <div class="options">
                  <div class="top-margin">
                    <label>{% trans "Opções" %}</label>
                  </div>

                  <div class="top-margin">
                    <div class="individual-option">
                      <input checked="checked" id="id_current_measurement" type="checkbox" name="current_measurement" style="display: none;" />
                      <label for="id_current_measurement">{% trans "Medições de Hoje" %}</label>
                      <div class="alert-danger">
                        <strong>{{ form.current_measurement.errors }}</strong>
                      </div>
                    </div>
                  </div>

                  <div class="top-margin">
                    <div class="individual-option">
                      <button id="past_day_button" type="button" class="button">{% trans "Medições de Dias Anteriores" %}</button>

                      <div class="inside-option" id="past_day">
                        <div class="top-margin">
                          <label>{% trans "Selecione o Dia" %}</label>
                          <div class="cc-selector">
                          {% for day in past_days %}
                            {% if previous_day == forloop.revcounter%}
                              <input checked="checked" id="id_measurement_day_{{day}}" type="radio" name="past_measurement_day" value="{{forloop.revcounter}}" />
                            {% else %}
                              <input id="id_measurement_day_{{day}}" type="radio" name="past_measurement_day" value="{{forloop.revcounter}}" />
                            {% endif %}
                            <label class="drinkcard-cc id_measurement_day_{{day}}" for="id_measurement_day_{{day}}"></label>
                          {% endfor %}
                          </div>

                          <div class="alert-danger">
                            <strong>{{ form.measurement_time.errors }}</strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="top-margin"">
                    <div class="individual-option">
                      <button id="manual_date_button" type="button" class="button">{% trans "Inserir Data Manualmente" %}</button>

                      <div class="inside-option" id="manual_date">
                        <div class="top-margin">
                          <label>{{ form.manual_initial_date.label }}</label>
                          <div class="input-group date" id="datetimepicker1">
                            {{form.manual_initial_date}}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                          <div class="alert-danger">
                            <strong>{{ form.manual_initial_date.errors }}</strong>
                          </div>
                        </div>

                        <div class="top-margin">
                          <label>{{ form.manual_final_date.label }}</label>
                          <div class="input-group date" id="datetimepicker2">
                            {{form.manual_final_date}}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                          <div class="alert-danger">
                            <strong>{{ form.manual_final_date.errors }}</strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-lg text-center">
                    <button class="btn btn-success" type="submit">{% trans "Gerar Gráfico" %}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div id="fig_01" class="col-md-6 col-md-6 text-center"></div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
