{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  {% trans "Cadastrar Usuário" %}
{% endblock %}

{% block extrastyle %}
  <script type="text/javascript" src="{% static 'users/js/users.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $(window).load(function(){
        document.getElementById('id_user_type_0').addEventListener('click', selectUserPermissions);
        document.getElementById('id_user_type_1').addEventListener('click', selectAdminPermissions);
      });
    });
  </script>
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li><a href="{% url 'users:index' %}">{% trans "Usuários" %}</a></li>
    <li class="active">{% trans "Cadastrar Usuário" %}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">{% trans "Cadastro de Usuário" %}</h1>
      </header>

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{% trans "Preencha os Campos Corretamente para Cadastrar um Novo Usuário" %}</h3>
            <hr>

            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}

            <form class="form-signin" method="post">
              {% csrf_token %}
              {% for field in form %}
                <div class="top-margin">
                  <label>{{ field.label }}</label>
                  {{field}}
                  <div class="alert-danger">
                    <strong>{{ field.errors }}</strong>
                  </div>
                </div>
              {% endfor %}
              <hr>

              <div class="row">
                <div class="col-lg text-center">
                  <button class="btn btn-success" type="submit" onclick="return confirm('Deseja realmente cadastrar o usuário?')">{% trans "Cadastrar" %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
