<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% load i18n %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="SHORTCUT ICON" href="{% static 'images/logo_icon.png' %}">

  <title>SMI-UnB | {% block title %}{% endblock %}</title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Loaging css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/open-sans.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

  <!-- Custom css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- Loaging jQuery -->
  <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
  {% block extrastyle %}{% endblock %}
</head>

<body class="home">
  <div class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="{% url 'index' %}">SMI - UnB</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="{% url 'index' %}">{% trans "Início" %}</a></li>
          {% if user.is_authenticated %}
          <li><a class="page-scroll" href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
          <li><a class="page-scroll" href="{% url 'my_account:index' %}">{% trans "Minha Conta" %}</a></li>
          <li><a class="btn" href="{% url 'authentication:make_logout'%}">{% trans "Sair" %}</a></li>
        {% else %}
          <li><a class="btn" href="{% url 'authentication:make_login'%}">{% trans "Login" %}</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>

{% block header %}
{% endblock %}

<body>
{% block body %}
{% endblock %}
</body>

</html>